<div id="animation">
  <div class="animation-circle"></div> <!--1 -->
  <div class="animation-circle"></div> <!--2 -->
  <div class="animation-circle"></div> <!--3 -->
  <div class="animation-circle"></div> <!--4 -->
  <div class="animation-circle"></div> <!--5 -->
  <div class="animation-circle"></div> <!--6 -->
  <div class="animation-circle"></div> <!--7 -->
  <div class="animation-circle"></div> <!--8 -->
  <div class="animation-circle"></div> <!--9 -->
  <div class="animation-circle"></div> <!--10-->
  <div class="animation-circle"></div> <!--11-->
  <div class="animation-circle"></div> <!--12-->
  <div class="animation-circle"></div> <!--13-->
  <div class="animation-circle"></div> <!--14-->
  <div class="animation-circle"></div> <!--15-->
  <div class="animation-circle"></div> <!--16-->
  <div class="animation-circle"></div> <!--17-->
  <div class="animation-circle"></div> <!--18-->
  <div class="animation-circle"></div> <!--19-->
  <div class="animation-circle"></div> <!--20-->
  <div class="animation-circle"></div> <!--21-->
  <div class="animation-circle"></div> <!--22-->
  <div class="animation-circle"></div> <!--23-->
  <div class="animation-circle"></div> <!--24-->
  <div class="animation-circle"></div> <!--25-->
  <div class="animation-circle"></div> <!--26-->
  <div class="animation-circle"></div> <!--27-->
  <div class="animation-circle"></div> <!--28-->
  <div class="animation-circle"></div> <!--29-->
  <div class="animation-circle"></div> <!--30-->
  <div class="animation-circle"></div> <!--31-->
  <div class="animation-circle"></div> <!--32-->
  <div class="animation-circle"></div> <!--33-->
  <div class="animation-circle"></div> <!--34-->
  <div class="animation-circle"></div> <!--35-->
  <div class="animation-circle"></div> <!--36-->
  <div class="animation-circle"></div> <!--37-->
  <div class="animation-circle"></div> <!--38-->
  <div class="animation-circle"></div> <!--39-->
  <div class="animation-circle"></div> <!--40-->
  <div class="animation-circle"></div> <!--41-->
  <div class="animation-circle"></div> <!--42-->
  <div class="animation-circle"></div> <!--43-->
  <div class="animation-circle"></div> <!--44-->
  <div class="animation-circle"></div> <!--45-->
  <div class="animation-circle"></div> <!--46-->
  <div class="animation-circle"></div> <!--47-->
  <div class="animation-circle"></div> <!--48-->
  <div class="animation-circle"></div> <!--49-->
  <div class="animation-circle"></div> <!--50-->
</div>
